/* Document */
:root {
	--green: #00B241;
	--light-blue: #EAEEF5;
	--blue: #005DFA;
	--white: #fff;
	--off-white: #F7F9FC;
	--light-grey: #DCE0EC;
	--medium-grey: #CDD3E1;
	--dark-grey: #868DA1;
}

.l-body {
  background-color: var(--light-blue);
  font-family: "Montserrat", sans-serif;
	font-weight: 400;
  margin: 5%;
  max-width: 940px;
}

.header__button.name,
.header__view-options,
.people {
  background-color: var(--white);
}

/* Display */
.l-header,
.person__data {
  display: block;
}

.contact__info,
.header__filters,
.header__people,
.header__view-options,
.person__contact,
.person__quick-details {
  display: flex;
}

.contact__info,
.person__quick-details {
  align-items: center;
}

.header__filters,
.header__people,
.person__contact {
  justify-content: space-between;
}

.contact__details.hidden {
	display: none;
}

/* Box Model */
.contact__info-item {
  margin: 0 .5em;
}

.header__button.name {
  margin-right: 1.2em;
  padding: 1em;
}

.header__view-options {
  padding: 1em .5em;
}

.l-header {
  margin-bottom: 1em;
}

.person__contact {
  margin-left: 3.2em;
}

.person__details {
  margin-left: 1.5em;
}

.person__data {
  padding-bottom: 1em;
}

/* Lists */
.contact__info,
.detail__list,
.header__view-options,
.people,
.person__info {
  list-style: none;
  margin: 0;
}

.contact__info,
.detail__list,
.people,
.person__info {
  padding: 0;
}

.m-people__person {
  border-bottom: 1px solid var(--medium-grey);
  padding: 0 1em;
}

.people li:nth-last-child(1) {
  border-bottom: none;
}

.person__initials {
  border-radius: 50%;
  line-height: 2em;
  margin-right: 1em;
  padding: .3em;
  text-align: center;
  width: 2em;
}

.person__location {
  font-size: .6em;
  letter-spacing: .1em;
  padding-top: .3em;
  text-transform: uppercase;
}

.contact__details {
  display: block;
  margin: 0 0 1em .8em;
}

.contact__details address {
  font-style: normal;
}

/* Buttons */
.header__button,
.person__details {
  appearance: none;
  background: var(--white);
  border: none;
}

.header__button.export {
  background-color: var(--off-white);
  border-radius: 5px;
  font-size: .7em;
  margin: 2.5em 1em;
  -webkit-box-shadow: 0 4px 4px -6px grey;
  -moz-box-shadow: 0 4px 4px -6px grey;
  box-shadow: 0 4px 4px -6px grey;
}

.header__button.export:active,
.header__button.export:focus,
.header__button.export:hover {
	background-color: var(--white);
}

.header__button.name:active
.header__button.name:focus,
.header__button.name:hover {
	background-color: var(--off-white);
}

.header__button.export,
.header__people-count,
.person__name {
  font-weight: 600;
}

.header__button.name,
.header__view-options {
  line-height: 1.5em;
}

.people,
.header__button.name,
.header__view-options {
  border-radius: 5px;
}

.header__button.name,
.header__view-options,
.people,
.person__initials {
  border: 1px solid var(--medium-grey);
}

.people__person--full-details {
  border: 5px solid var(--green);
}

/* Icons */
/* light grey */
.contact__info--incomplete {
  color: var(--light-grey);
}

/* medium grey */
.header__button--unselected {
  color: var(--medium-grey);
}

/* dark grey */
.fa-sort-alpha-up,
.fa-chevron-down,
.person__initials,
.person__location {
  color: var(--dark-grey);
}

.contact__info,
.detail__list-item > .fa-m,
.detail__list-item a,
.fa-chevron-down:hover,
.fa-file-download,
.header__button--selected,
.header__button.export {
  color: var(--blue);
}

.fa-sort-alpha-up,
.fa-file-download {
  padding-right: .5em;
}

.detail__list-item > .fa-m {
  line-height: 2;
  padding-right: 1em;
}

/* Tablet & Desktop */
@media only screen and (min-width: 768px) {

  /* Display */
  .l-header,
  .person__data {
    display: flex;
    align-items: center;
  }

  .l-header,
  .person__data {
    justify-content: space-between;
  }

  /* Box model */
  .l-body {
    margin: 2%;
  }

  .l-header {
    margin-bottom: 0;
  }

  .person__data {
    padding-bottom: 0;
  }

  .person__contact {
    margin-left: 0;
  }
}
